div.mes {
  margin: 0 auto;
  width: 250px;
  position: relative;
}

div.mes:nth-child(odd) {
  right: 50px;
}

div.mes:nth-child(even) {
  left: 50px;
}

div.mes th,
div.mes td,
div.mes caption {
  font: normal 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px 4px;
}

.tabla_mes {
  border-spacing: 3px;
  empty-cells: hide;
}

div.mes td {
  text-align: center;
  border: 1px solid #eee;
}

div.mes th {
  color: #999;
}

div.mes caption.titulo {
  text-align: left;
  font-size: 18px;
  color: #c00;
}
